.d-tree-container {
    list-style: none;
    padding: 0;
  }
.d-flex{
  display: flex;
  /* align-items: center; */
}
  .d-tree-node {
    padding: 0.75rem 1.25rem;
  }
  .d-tree-head{
    align-items: center;
  }
  .d-node-title{
    color: #FFFFFF
  }
  
  .d-tree-toggler.active {
    transform: rotate(45deg);
  }